*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul, nav{
    list-style-type: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/* Header */
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;  
    flex-direction: row;
    align-items:center;
    margin-top: 1.5rem;
    text-shadow: -3px -3px black;
    margin-bottom: 1rem;
    color: white;   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav h2 {
    font-size: 2.5rem;
    padding: .5rem;
    margin-left: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
nav h2 a{
    color: white; 
}
nav .nav-links{
    display: flex;
    margin-right: 4rem;
    font-size: 1.3rem;
}
nav ul li{
    padding: .7rem;
    font-size: 1.5rem;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: rgb(119, 136, 153);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    height: 100vh;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    
}
.banner-area .banner-img{
    background-image: url(images//background.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.banner-area .banner-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .5;
}
.banner-area h1{
    font-size: 4.5rem;
    text-shadow: -3px -3px black;
}
.banner-area h2{
    font-size: 2rem;
    text-shadow: -3px -3px black;
}
.banner-area a{
    color: white;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    background-color: rgba(191, 191, 191, .6);
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 7px 20px;
    
    text-shadow: -1px -1px black;
}
.banner-area a:hover{
    background-color: rgba(119, 136, 153, .8);
}
.content{
    color: black;
}

/* About Section */
.about-area h3{
    font-size: 2.5rem;
    margin: 2rem;
    width: 100%;
    color: black;
   
}
.about-content{
    color: black;
    display: flex;   
    width: 100%;
    justify-content: center;
}
.about-area ul li{
    padding: 20px;
    height: 280px;
    background-size: cover;
    background-position: center;
}
.about-area ul li .video{
    width: 450px;   
    margin: 0px 20px 20px 40px;
    flex-basis: 40%;
    background-size: contain;
}
.about-area ul .content-right{
    flex-basis: 60%;
}
.about-area ul .content-right p{
    margin-bottom: 35px;
    line-height: 1.5rem;
    text-align:start;
    margin-top: 20px;
}
.about-area ul  .content-right a{
    padding: 10px 20px;
    color: white;
    background-color: rgba(168, 168, 168, 0.6);
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}
.about-area ul  .content-right a:hover{
    background-color: rgba(119, 136, 153, .8);
}
/*  Services  */
.services{
    background-color: whitesmoke;
}
.services h2{
    font-size: 2.5rem;
    margin: 2rem;
    width: 100%;
    color: black;
    
}
.services-list{
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;

}
.services .services-list li{
    flex-basis: 33%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.services .services-list li i{
   margin-bottom: 1.5rem;
}
.services .services-list li i img{
    margin-bottom: 1.5rem;
}
.fas{
    color: #3B7CFF  
}
.fab{
    color: olivedrab;
}
/* Contact */
.contact{
    background-color: white;
}
.contact h2{
    color: black;
    margin-top: 3rem;
    padding: 10px;
    width: 100%;
    font-size: 2.5rem;
    
}
.contact ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}
.contact ul li{
    padding: 6rem;
}
.footer{
    color: white;
    background-color: black;
    height: 15vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer img{
    padding: .4rem;
}









